<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AppSecret</key>
    <string>a62c3ec7-8aeb-4282-9341-00da8676c2dd
a62c3ec7-8aeb-4282-9341-00da8676c2dd</string>
  </dict>
</plist>
